alembic==1.7.5
boto3==1.20.31
botocore==1.23.31
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
decorator==4.4.2
Deprecated==1.2.13
Flask==1.1.2
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
Mako==1.0.1
MarkupSafe==2.0.1
moviepy==1.0.3
mutagen==1.45.1
numpy==1.22.0
packaging==21.3
pafy-tmsl==0.5.6
Pillow==9.0.0
proglog==0.1.9
psycopg2==2.8.4
pycryptodomex==3.12.0
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.19.2
redis==4.1.0
requests==2.27.1
rq==1.10.1
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.29
tqdm==4.62.3
urllib3==1.26.7
websockets==10.1
Werkzeug==2.0.2
wrapt==1.13.3
youtube-dl-tmsl==2021.12.17
